body {
    padding: 1rem;
    background: #808D8E;
}

.jumbotron {
    background: #A9D2D5;
}

.btn {
    background: #A9D2D5;
    color: grey;
}

.form-control {
    background: #EAF0CE;
}

.display-4,
.lead {
    text-align: center;
}
